<div class="col-12 col-md-6 col-lg-4 ">  
  <%= link_to  text_path(text.id) do %>
    <div class="card content-card border-dark mb-3 ">
        <img src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg">
        <div class="card-body text-dark ">
          <button type="button" class="btn btn-secondary btn-md btn-block">読破済みにする</button>
          <p class="card-text mt-3">
          <%= text.title %>
          </p>
          <p>
          【<%= text.genre_i18n %>】
          </p>
       </div>
    </div>
  <% end %>  
</div>