<div class="container">
  <div class="row">
    <div class="col-sm card border-dark mb-3" style="width: 18rem;">
     <img src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg">
        
    </div>
    <div class="col-sm card border-dark mb-3">
       <img src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg">
                <div class="card-body">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
            <p class="card-text mt-3">macのショートカットキー</p>
            <p>【Basic】</p>
          </div>
    </div>
    <div class="col-sm card border-dark mb-3">
      One of three columns
    </div>
  </div>
</div>









<div>
  <h1>Ruby/Rails</h1>
    <br>"テキスト教材"
        <div class="card border-dark mb-3" style="width: 18rem;">
          <img src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg">
          <div class="card-body">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
            <p class="card-text mt-3">macのショートカットキー</p>
            <p>【Basic】</p>
          </div>
        </div>
        <div class="card border-dark mb-3" style="width: 18rem;">
          <img src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg">
          <div class="card-body">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
            <p class="card-text mt-3">macのショートカットキー</p>
            <p>【Basic】</p>
        </div>
    </div>
</div>